/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Анимация заголовка */
.animate-header {
    animation: fadeInDown 2s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Анимация появления изображения */
.fade-in img {
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Стили для секции с мусоровозом */
.truck-animation {
    text-align: center;
    margin: 20px;
}

#truck {
    width: 300px;
    height: auto;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}
